*{
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}
h1{
    color: red;
    padding: 20px 0px;
    margin-bottom: 100px;
}
h1:hover{
    background-color: red;
    color: yellow;
}
table{
    border: solid 2px;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}
td{
    border: solid 2px;
}
th{
    border: solid 2px;
}
.Esp{
    background-color: yellow;
}